name: CI

on: [push]

jobs:
  build:

    runs-on: windows-latest
    
    steps:
    - uses: actions/setup-python@v1
      with:
        python-version: '2.7' # Version range or exact version of a Python version to use, using semvers version range syntax.
        architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified
    - uses: actions/checkout@v1
    - name: Build WebRTC
      run: | 
       [Environment]::SetEnvironmentVariable("PYTHON_HOME", "C:\hostedtoolcache\windows\Python\2.7.16\x64" , "Machine")
       .\build.ps1
      shell: powershell
    - name: Create artifacts directory
      run: MKDIR webrtc_artifacts
      shell: cmd
    - name: Copy Libs
      run: Xcopy /E /I .\libs .\webrtc_artifacts\libs\
      shell: cmd
    - name: Copy Includes
      run: Xcopy /E /I .\includes .\webrtc_artifacts\includes\
      shell: cmd
    - uses: actions/upload-artifact@master
      with:
        name: artifacts
        path: webrtc_artifacts/
      
